Repository openhwgroup/cv32e40x, pull requests merged in 2022-04, with the labels that each got.

#492 Basic CLIC vectoring support
  bhv/cv32e40x_rvfi.sv
  bhv/cv32e40x_wrapper.sv
  cv32e40x_manifest.flist
  rtl/cv32e40x_alignment_buffer.sv
  rtl/cv32e40x_clic_int_controller.sv
  rtl/cv32e40x_compressed_decoder.sv
  rtl/cv32e40x_controller.sv
  rtl/cv32e40x_controller_bypass.sv
  rtl/cv32e40x_controller_fsm.sv
  rtl/cv32e40x_core.sv
  rtl/cv32e40x_cs_registers.sv
  rtl/cv32e40x_ex_stage.sv
  rtl/cv32e40x_i_decoder.sv
  rtl/cv32e40x_if_stage.sv
  rtl/cv32e40x_int_controller.sv
  rtl/cv32e40x_load_store_unit.sv
  rtl/cv32e40x_mpu.sv
  rtl/cv32e40x_prefetch_unit.sv
  rtl/cv32e40x_prefetcher.sv
  rtl/cv32e40x_wb_stage.sv
  rtl/cv32e40x_write_buffer.sv
  rtl/include/cv32e40x_pkg.sv
  sva/cv32e40x_alignment_buffer_sva.sv
  sva/cv32e40x_controller_fsm_sva.sv
  sva/cv32e40x_core_sva.sv
  sva/cv32e40x_cs_registers_sva.sv
  sva/cv32e40x_decoder_sva.sv
  sva/cv32e40x_prefetch_unit_sva.sv
  sva/cv32e40x_prefetcher_sva.sv
  sva/cv32e40x_rvfi_sva.sv
Labels: Status:Do-not-merge

#495 Corrected R/W information for minhv, mclicbase. Added further explana…
  docs/user_manual/source/control_status_registers.rst
  docs/user_manual/source/exceptions_interrupts.rst
Labels: Component:Doc

#505 minstret rvfi reporting fix for WFI
  bhv/cv32e40x_rvfi.sv
  rtl/cv32e40x_wb_stage.sv
Labels: Component:RTL

#506 Implementation of mnxti
  bhv/cv32e40x_rvfi.sv
  rtl/cv32e40x_clic_int_controller.sv
  rtl/cv32e40x_core.sv
  rtl/cv32e40x_cs_registers.sv
  rtl/cv32e40x_wb_stage.sv
Labels: Component:RTL

#508 First step towards merged decoder
  rtl/cv32e40x_i_decoder.sv
Labels: Component:RTL

#510 Moved two instructions from predecoder to decoder
  rtl/cv32e40x_compressed_decoder.sv
  rtl/cv32e40x_i_decoder.sv
  rtl/cv32e40x_id_stage.sv
  rtl/cv32e40x_if_stage.sv
  rtl/include/cv32e40x_pkg.sv
Labels: Component:RTL

#512 Removed nmi_addr_i; removed USE_DEPRECATED_FEATURE_SET parameter
  bhv/cv32e40x_wrapper.sv
  constraints/cv32e40x_core.sdc
  rtl/cv32e40x_controller.sv
  rtl/cv32e40x_controller_fsm.sv
  rtl/cv32e40x_core.sv
  rtl/cv32e40x_cs_registers.sv
  rtl/cv32e40x_if_stage.sv
  rtl/include/cv32e40x_pkg.sv
  sva/cv32e40x_rvfi_sva.sv
Labels: Component:RTL

#511 Bugfix: mnxti data forwarding causing wrong operand values
  bhv/cv32e40x_wrapper.sv
  rtl/cv32e40x_controller.sv
  rtl/cv32e40x_controller_bypass.sv
  rtl/cv32e40x_controller_fsm.sv
  rtl/cv32e40x_core.sv
  rtl/cv32e40x_cs_registers.sv
  rtl/cv32e40x_ex_stage.sv
  rtl/cv32e40x_id_stage.sv
  rtl/include/cv32e40x_pkg.sv
  sva/cv32e40x_core_sva.sv
  sva/cv32e40x_decoder_sva.sv
Labels: Component:RTL

#513 Decoder interface change
  rtl/cv32e40x_decoder.sv
  rtl/cv32e40x_id_stage.sv
  sva/cv32e40x_decoder_sva.sv
Labels: Component:RTL

#514 Bugfixes after running formal
  bhv/cv32e40x_wrapper.sv
  rtl/cv32e40x_controller_fsm.sv
  rtl/cv32e40x_core.sv
  rtl/cv32e40x_cs_registers.sv
  rtl/cv32e40x_i_decoder.sv
  rtl/cv32e40x_if_stage.sv
  rtl/cv32e40x_prefetch_unit.sv
  rtl/cv32e40x_prefetcher.sv
  sva/cv32e40x_controller_fsm_sva.sv
  sva/cv32e40x_core_sva.sv
  sva/cv32e40x_decoder_sva.sv
  sva/cv32e40x_prefetch_unit_sva.sv
  sva/cv32e40x_prefetcher_sva.sv
Labels: Component:RTL

#516 Speeding up decoder
  rtl/cv32e40x_compressed_decoder.sv
  rtl/cv32e40x_decoder.sv
  sva/cv32e40x_decoder_sva.sv
Labels: Component:RTL

#519 Reverting merged decoder introduction
  rtl/cv32e40x_compressed_decoder.sv
  rtl/cv32e40x_decoder.sv
  rtl/cv32e40x_i_decoder.sv
  rtl/cv32e40x_if_stage.sv
  rtl/include/cv32e40x_pkg.sv
  sva/cv32e40x_decoder_sva.sv
Labels: Component:RTL

#524 Added fence.i related notes. Added mstateen CSRs (applicable to CV32E…
  docs/user_manual/source/control_status_registers.rst
  docs/user_manual/source/fencei.rst
Labels: Component:Doc
