Repository openhwgroup/cv32e40x, pull requests merged in 2022-07, with the labels that each got.

#606 Refactored interrupt_allowed and halt_id logic.
  rtl/cv32e40x_controller_fsm.sv
Labels: Component:RTL

#612 Updates to Zc handling in IF stage
  rtl/cv32e40x_if_stage.sv
Labels: Component:RTL

#614 Added parameter to disable itrace
  bhv/rvfi_sim_trace.sv
Labels: Component:Other

#620 Added todos related to recent PRs
  bhv/cv32e40x_rvfi.sv
  rtl/cv32e40x_controller_fsm.sv
  rtl/cv32e40x_if_stage.sv
  rtl/cv32e40x_sequencer.sv
  sva/cv32e40x_controller_fsm_sva.sv
  sva/cv32e40x_core_sva.sv
  sva/cv32e40x_if_stage_sva.sv
Labels: Component:RTL

#621 Added further clarification on rvfi_dbg signal
  docs/user_manual/source/rvfi.rst
Labels: Component:Doc

#623 Restricted misa CSR and X_MISA parameter to always have D and Q bits 0
  docs/user_manual/source/control_status_registers.rst
  docs/user_manual/source/integration.rst
Labels: Component:Doc

#624 Removed obsolete RTL signal
  rtl/cv32e40x_if_stage.sv
  rtl/cv32e40x_load_store_unit.sv
  rtl/cv32e40x_mpu.sv
Labels: Component:RTL

#625 Updated Zc extension version to v0.70.5
  docs/user_manual/source/intro.rst
Labels: Component:Doc

#580 Update XIF interface
  rtl/cv32e40x_load_store_unit.sv
  rtl/cv32e40x_wb_stage.sv
  rtl/if_xif.sv
Labels: Component:RTL

#626 Unifying code with CV32E40S
  rtl/cv32e40x_controller_fsm.sv
  rtl/cv32e40x_cs_registers.sv
  rtl/include/cv32e40x_pkg.sv
Labels: Component:RTL

#627 Updated exception code for Instruction Bus Fault
  docs/user_manual/source/exceptions_interrupts.rst
  docs/user_manual/source/rvfi.rst
Labels: Component:Doc

#631 Fixed bitfield description in mtvec CSR for CLIC
  docs/user_manual/source/control_status_registers.rst
Labels: Component:Doc

#632 Updated OBI to version 1.5.0
  docs/user_manual/source/intro.rst
Labels: Component:Doc
