Repository openhwgroup/cv32e40x, pull requests merged in 2023-08, with the labels that each got.

#896 Update to yaml.m4. Changed from UMODE to A_EXT when checking if load/…
  yaml/csr.yaml.m4
Labels: Component:Other

#897 Removed todo in i_decoder and added comments for each use of ctrl_fsm…
  rtl/cv32e40x_i_decoder.sv
Labels: Component:RTL

#900 Removed two todos in controller_fsm.
  rtl/cv32e40x_controller_fsm.sv
Labels: Component:RTL

#898 Removed todo in clic_int_controller.
  rtl/cv32e40x_clic_int_controller.sv
  sva/cv32e40x_clic_int_controller_sva.sv
  sva/cv32e40x_core_sva.sv
Labels: Component:RTL

#901 Removed todo's in EX stage.
  rtl/cv32e40x_ex_stage.sv
Labels: Component:RTL

#905 Added a separate 'modified_access_i' to the MPU and PMA and refactore…
  rtl/cv32e40x_load_store_unit.sv
  rtl/cv32e40x_mpu.sv
  rtl/cv32e40x_pma.sv
Labels: Component:RTL

#906 Removed three TODO's in the pkg file.
  rtl/include/cv32e40x_pkg.sv
Labels: Component:RTL

#907 Removed TODO in ID stage. Path mentioned in TODO cannot be found, lik…
  rtl/cv32e40x_id_stage.sv
Labels: Component:RTL

#908 Removed two todo's in the sequencer.
  rtl/cv32e40x_sequencer.sv
Labels: Component:RTL

#903 Removed todo in MPU
  bhv/cv32e40x_wrapper.sv
  rtl/cv32e40x_mpu.sv
  sva/cv32e40x_mpu_sva.sv
Labels: Component:RTL

#909 Removed two todo's in the controller FSM.
  rtl/cv32e40x_controller_fsm.sv
Labels: Component:RTL

#910 Fixed unconnected input to MPU in IF stage.
  rtl/cv32e40x_if_stage.sv
Labels: Component:RTL

#914 Added statement that wu_wfe_i is positive level sensitive
  docs/user_manual/source/integration.rst
  docs/user_manual/source/sleep.rst
Labels: Component:Doc

#915 Updated RISC-V CLIC version to 8/1/2023 version
  docs/user_manual/source/intro.rst
Labels: Component:Doc

#918 Fix for issue #882
  rtl/cv32e40x_if_xif.sv
Labels: Component:RTL

#919 Fix for issue #892
  bhv/cv32e40x_rvfi.sv
Labels: Component:Other

#920 Fix for issue #881
  docs/user_manual/source/exceptions_interrupts.rst
Labels: Component:Doc

#902 Fixed todo's related to mul_en/div_en i EX stage
  rtl/cv32e40x_div.sv
  rtl/cv32e40x_ex_stage.sv
  rtl/cv32e40x_mult.sv
  sva/cv32e40x_mult_sva.sv
Labels: Component:RTL

#917 Optimized CSR stalls
  rtl/cv32e40x_controller.sv
  rtl/cv32e40x_controller_bypass.sv
  rtl/cv32e40x_controller_fsm.sv
  rtl/cv32e40x_core.sv
  rtl/cv32e40x_cs_registers.sv
  rtl/cv32e40x_ex_stage.sv
  rtl/cv32e40x_id_stage.sv
  rtl/include/cv32e40x_pkg.sv
  sva/cv32e40x_controller_fsm_sva.sv
Labels: Component:RTL

#921 Removed todo about interrupt controller suffix.
  rtl/cv32e40x_core.sv
Labels: Component:RTL

#922 Updated assertions in mult_sva to factor in halt_i and kill_i in the …
  sva/cv32e40x_mult_sva.sv
Labels: Component:Other

#923 Fixed mask for tdata2 to only include exception codes 4 and 6 when A_EXT != A_NONE.
  rtl/cv32e40x_debug_triggers.sv
  rtl/include/cv32e40x_pkg.sv
Labels: Component:RTL

#925 Removed CSR mscratchcsw.
  bhv/cv32e40x_wrapper.sv
  rtl/cv32e40x_controller_bypass.sv
  rtl/cv32e40x_cs_registers.sv
  rtl/cv32e40x_i_decoder.sv
  rtl/include/cv32e40x_pkg.sv
  sva/cv32e40x_cs_registers_sva.sv
  yaml/csr.yaml.m4
Labels: Component:RTL
