Repository openhwgroup/cv32e40x, pull requests merged in 2023-05, with the labels that each got.

#846 Signal rename and comment clean-up
  rtl/cv32e40x_controller_fsm.sv
  rtl/cv32e40x_i_decoder.sv
  rtl/cv32e40x_sleep_unit.sv
  rtl/include/cv32e40x_pkg.sv
Labels: Component:RTL

#847 Signal rename
  rtl/cv32e40x_controller_bypass.sv
  rtl/cv32e40x_controller_fsm.sv
  rtl/include/cv32e40x_pkg.sv
Labels: Component:RTL

#848 Fix for issue #546
  rtl/cv32e40x_alu.sv
Labels: Component:RTL

#850 Dead code removal
  rtl/cv32e40x_i_decoder.sv
  rtl/cv32e40x_id_stage.sv
  rtl/include/cv32e40x_pkg.sv
Labels: Component:RTL

#852 Lint fixes
  rtl/cv32e40x_cs_registers.sv
  rtl/cv32e40x_prefetcher.sv
  rtl/cv32e40x_write_buffer.sv
Labels: Component:RTL

#854 Fix Typo - "minsttatus"
  docs/user_manual/source/exceptions_interrupts.rst
Labels: Component:Doc

#855 Uniquify modules
  bhv/cv32e40x_rvfi.sv
  bhv/cv32e40x_rvfi_instr_obi.sv
  bhv/cv32e40x_rvfi_sim_trace.sv
  bhv/cv32e40x_wrapper.sv
  cv32e40x_manifest.flist
  docs/user_manual/source/integration.rst
  rtl/cv32e40x_controller.sv
  rtl/cv32e40x_controller_fsm.sv
  rtl/cv32e40x_core.sv
  rtl/cv32e40x_data_obi_interface.sv
  rtl/cv32e40x_id_stage.sv
  rtl/cv32e40x_if_c_obi.sv
  rtl/cv32e40x_if_stage.sv
  rtl/cv32e40x_if_xif.sv
  rtl/cv32e40x_instr_obi_interface.sv
  rtl/cv32e40x_load_store_unit.sv
  rtl/cv32e40x_wb_stage.sv
  sva/cv32e40x_if_stage_sva.sv
  sva/cv32e40x_load_store_unit_sva.sv
  sva/cv32e40x_rvfi_sva.sv
Labels: Component:RTL

#857 Added the following signals to RVFI:
  bhv/cv32e40x_rvfi.sv
  sva/cv32e40x_rvfi_sva.sv
Labels: Component:Other

#856 Refactored tdata1_n logic
  rtl/cv32e40x_debug_triggers.sv
Labels: Component:RTL

#858 Updates due to updated debug spec
  bhv/cv32e40x_rvfi.sv
  bhv/cv32e40x_wrapper.sv
  bhv/include/cv32e40x_rvfi_pkg.sv
  bhv/include/cv32e40x_wrapper.vh
  rtl/cv32e40x_controller.sv
  rtl/cv32e40x_controller_fsm.sv
  rtl/cv32e40x_core.sv
  rtl/cv32e40x_cs_registers.sv
  rtl/cv32e40x_debug_triggers.sv
  rtl/cv32e40x_ex_stage.sv
  rtl/cv32e40x_id_stage.sv
  rtl/cv32e40x_if_stage.sv
  rtl/cv32e40x_load_store_unit.sv
  rtl/cv32e40x_mpu.sv
  rtl/cv32e40x_wb_stage.sv
  rtl/cv32e40x_wpt.sv
  rtl/include/cv32e40x_pkg.sv
  sva/cv32e40x_controller_fsm_sva.sv
  sva/cv32e40x_core_sva.sv
  sva/cv32e40x_debug_triggers_sva.sv
  sva/cv32e40x_load_store_unit_sva.sv
  sva/cv32e40x_wb_stage_sva.sv
  yaml/csr.yaml.m4
Labels: Component:RTL

#861 Added RVFI visibility of HW writes to mcontrol6
  rtl/cv32e40x_debug_triggers.sv
Labels: Component:RTL

#862 Added missing signals to `RVFI_TIEOFF
  bhv/include/cv32e40x_wrapper.vh
Labels: Component:Other

#864 Fix for issue #808.
  rtl/cv32e40x_alignment_buffer.sv
  sva/cv32e40x_alignment_buffer_sva.sv
Labels: Component:RTL
