Repository openhwgroup/cv32e40x, pull requests merged in 2023-07, with the labels that each got.

#880 Version 2 RTD configuration file
  .readthedocs.yaml
Labels: Component:Doc

#885 Updates to yaml.m4
  yaml/csr.yaml.m4
Labels: Component:Other

#886 Fix for issue #884.
  rtl/cv32e40x_cs_registers.sv
Labels: Component:RTL

#887 Lint fix for issue #884
  rtl/cv32e40x_cs_registers.sv
Labels: Component:RTL

#889 Added missing exception codes for misaligne atomic load/stores to yam…
  yaml/csr.yaml.m4
Labels: Component:Other

#894 Fixed issue #893 mpu sva vs pma rtl mismatch
  sva/cv32e40x_mpu_sva.sv
Labels: Component:Other
