Repository openhwgroup/cv32e40x, pull requests merged in 2023-10, with the labels that each got.

#958 Introduced type for lsu_err_wb
  bhv/cv32e40x_rvfi.sv
  rtl/cv32e40x_controller.sv
  rtl/cv32e40x_controller_fsm.sv
  rtl/cv32e40x_core.sv
  rtl/cv32e40x_load_store_unit.sv
  rtl/include/cv32e40x_pkg.sv
  sva/cv32e40x_controller_fsm_sva.sv
Labels: Component:RTL

#959 Added note about how AMO instructions are reported on RVFI.
  docs/user_manual/source/atomics.rst
  docs/user_manual/source/rvfi.rst
Labels: Component:Doc

#961 Fixed undriven signals
  rtl/cv32e40x_align_check.sv
  rtl/cv32e40x_ff_one.sv
  rtl/cv32e40x_id_stage.sv
Labels: Component:RTL

#962 Updated CLIC spec to version 0.9-draft 9/1/2023.
  docs/user_manual/source/intro.rst
Labels: Component:Doc

#963 Sequencer clock gate optimization
  rtl/cv32e40x_sequencer.sv
  sva/cv32e40x_sequencer_sva.sv
Labels: Component:RTL

#965 Mul/div update for kill
  rtl/cv32e40x_div.sv
  rtl/cv32e40x_mult.sv
Labels: Component:RTL

#966 Listing all added RVFI signals in then RVFI chapter of the user manual.
  docs/user_manual/source/rvfi.rst
Labels: Component:Doc

#967 Misc cleanup of unused signals.
  rtl/cv32e40x_controller_bypass.sv
  rtl/cv32e40x_controller_fsm.sv
  rtl/cv32e40x_cs_registers.sv
  rtl/include/cv32e40x_pkg.sv
Labels: Component:RTL

#968 Lint fixes. Don't use logical operators on multi-bit signals
  rtl/cv32e40x_controller_bypass.sv
  rtl/cv32e40x_controller_fsm.sv
Labels: Component:RTL

#970 Updated debug spec version to 1.0-STABLE as of october 12th 2023.
  docs/user_manual/source/intro.rst
Labels: Component:Doc

#971 Updated privilege spec to 20211203.
  docs/user_manual/source/control_status_registers.rst
  docs/user_manual/source/intro.rst
  yaml/csr.yaml.m4
Labels: Component:Doc

#973 Added assertions from e40s that were missing on e40x
  sva/cv32e40x_controller_fsm_sva.sv
  sva/cv32e40x_load_store_unit_sva.sv
  sva/cv32e40x_rvfi_sva.sv
Labels: Component:Other

#974 Fix for issue #61
  docs/user_manual/source/pma.rst
Labels: Component:Doc
