Repository openhwgroup/cv32e40x, pull requests merged in 2023-06, with the labels that each got.

#863 Fix for issue #619
  bhv/cv32e40x_wrapper.sv
  sva/cv32e40x_controller_fsm_sva.sv
  sva/cv32e40x_core_sva.sv
Labels: Component:Other

#870 Updated to version 0.9-draft, 6/6/2023 of CLIC specification
  docs/user_manual/source/intro.rst
Labels: Component:Doc

#871 Changed Debug version to 1.0-STABLE, f4ac44e0d5f6993562bc6826d01ef5fe…
  docs/user_manual/source/intro.rst
Labels: Component:Doc

#872 Removed parameter CLIC_INTTHRESHBITS
  bhv/cv32e40x_wrapper.sv
  rtl/cv32e40x_core.sv
  rtl/cv32e40x_cs_registers.sv
  rtl/include/cv32e40x_pkg.sv
Labels: Component:RTL

#873 Removed parameter CLIC_INTTHRESHBITS from the user manual.
  docs/user_manual/source/control_status_registers.rst
  docs/user_manual/source/integration.rst
Labels: Component:Doc

#874 Dret to lower privilege mode no longer clears mintthresh.
  rtl/cv32e40x_clic_int_controller.sv
  rtl/cv32e40x_core.sv
  rtl/cv32e40x_cs_registers.sv
Labels: Component:RTL

#875 Lint cleanup
  rtl/cv32e40x_alignment_buffer.sv
  rtl/cv32e40x_controller_fsm.sv
  rtl/cv32e40x_core.sv
  rtl/cv32e40x_cs_registers.sv
  rtl/cv32e40x_ff_one.sv
  rtl/cv32e40x_load_store_unit.sv
  rtl/cv32e40x_mpu.sv
  rtl/cv32e40x_sequencer.sv
  rtl/cv32e40x_wb_stage.sv
Labels: Component:RTL

#878 Lint cleanup
  bhv/cv32e40x_wrapper.sv
  rtl/cv32e40x_alignment_buffer.sv
  rtl/cv32e40x_core.sv
  rtl/cv32e40x_cs_registers.sv
  rtl/cv32e40x_debug_triggers.sv
  rtl/cv32e40x_div.sv
  rtl/cv32e40x_ex_stage.sv
  rtl/cv32e40x_id_stage.sv
  rtl/cv32e40x_if_stage.sv
  rtl/cv32e40x_load_store_unit.sv
Labels: Component:RTL
