Repository openhwgroup/cv32e40x, pull requests merged in 2023-09, with the labels that each got.

#927 Fix todo in assertion a_valid_jump.
  bhv/cv32e40x_wrapper.sv
  rtl/cv32e40x_controller.sv
  rtl/cv32e40x_controller_fsm.sv
  rtl/cv32e40x_core.sv
  sva/cv32e40x_controller_fsm_sva.sv
Labels: Component:RTL

#928 Updates for CLIC spec (august 23)
  rtl/cv32e40x_controller_fsm.sv
  rtl/cv32e40x_cs_registers.sv
  rtl/include/cv32e40x_pkg.sv
  sva/cv32e40x_controller_fsm_sva.sv
  sva/cv32e40x_cs_registers_sva.sv
Labels: Component:RTL

#932 Remove mscratchcsw register from manual
  docs/user_manual/source/control_status_registers.rst
Labels: Component:Doc

#935 Removed dependency on mcause.mpp when checking if an mret will genera…
  rtl/cv32e40x_id_stage.sv
Labels: Component:RTL

#937 Controller_fsm cleanup and asserts
  rtl/cv32e40x_controller_fsm.sv
  sva/cv32e40x_controller_fsm_sva.sv
Labels: Component:RTL

#936 Corrected simulation trace documentation
  bhv/cv32e40x_rvfi.sv
  bhv/cv32e40x_rvfi_sim_trace.sv
  docs/user_manual/images/rvfi_trace.png
  docs/user_manual/source/rvfi.rst
Labels: Component:Doc

#942 Updated cycle counts in the pipeline chapter.
  docs/user_manual/source/pipeline.rst
Labels: Component:Doc

#946 Misc sva updates
  bhv/cv32e40x_wrapper.sv
  sva/cv32e40x_controller_fsm_sva.sv
  sva/cv32e40x_core_sva.sv
Labels: Component:Other

#948 Added missing signals to rvfi_mem documentation.
  docs/user_manual/source/rvfi.rst
Labels: Component:Doc

#949 Add cv32e40x_parameter_sva.sv
  bhv/cv32e40x_wrapper.sv
  sva/cv32e40x_mpu_sva.sv
  sva/cv32e40x_parameter_sva.sv
Labels: Component:Other

#950 Add assertion a_mret_dbg_mode_illegal
  sva/cv32e40x_controller_fsm_sva.sv
Labels: Component:Other

#951 Parameterize Zicntr and Xif features
  rtl/cv32e40x_cs_registers.sv
  rtl/cv32e40x_id_stage.sv
Labels: Component:RTL

#952 Fixes after running SEC vs cv32e40s with SECURE=0.
  rtl/cv32e40x_controller_fsm.sv
Labels: Component:RTL

#953 Rewrite assertion to avoid unreachable cover
  sva/cv32e40x_parameter_sva.sv
Labels: Component:Other

#954 Updated description of rvfi_mem_rdata, rvfi_mem_exokay, rvfi_mem_memt…
  docs/user_manual/source/rvfi.rst
Labels: Component:Doc

#955 Fix for issue #586
  docs/user_manual/source/control_status_registers.rst
Labels: Component:Doc

#956 Updated debug spec version to 1.0-STABLE as of September 11th 2023.
  docs/user_manual/source/intro.rst
Labels: Component:Doc
